[class*="col-"]{
    background-color: #ffc0cb;
    border: 1px solid black;
    text-align: center;
    padding: 0;
}

p{
    line-height: 200px;
    vertical-align: middle;
}

#site_footer>.row>.col-6{
    width: 50%;
    background-color: #ffc0cb;
    border: 1px solid black;
    float: left;
}

#site_footer [class*="col-"]{
    background-color: #f07f80;
    border: 1px solid #ffc0cb;
    height: 1px;
    position: relative;  
}

#site_footer p{
    line-height: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#site_footer>.row>.col-6>.row{
    padding: 5px;
}